<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MySpringApplication</title>
</head>
<body>

<form action="LoginController">
<table>
    <tr>
        <td> Username :</td>
        <td> <input type="text" placeholder="Enter username"></td>
    </tr>
    <tr>
        <td> Password :</td>
        <td> <input type="password" placeholder="Enter Password"></td>
    </tr>
    <tr><td><button type="submit" value="Submit"></button></td></tr>
    <tr><td><button type="button" value="Reset Password"></button></td></tr>
</table>
</form>
</body>
</html>