<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MySpringApplication</title>
    <script src="form.css"></script>
    <script src="Login.js"></script>
</head>
<body>


<table>
    <form action="LoginController" class="FormClass">
    <tr>
        <td> Username :</td>
        <td> <input type="text" placeholder="Enter username" class="inputField"></td>
    </tr>
    <tr>
        <td> Password :</td>
        <td> <input type="password" placeholder="Enter Password" class="inputField"></td>
    </tr>
    <tr><td><input type="submit" value="Submit" class="ButtonClass"></td></tr>
    <tr><td><input type="button" value="Reset Password" class="ButtonClass"></td></tr>
    </form>
</table>

</body>
</html>